---
import Layout from "../layouts/Layout.astro";
import Users from "../components/apis/Users.astro";
import UsersB from "../components/apis/UsersB.astro";
import SimpleApi from "../components/apis/SimpleApi.astro";
import LoadingApi from "../components/apis/LoadingApi.astro";

const page = {
    title: "API REST Exemples",
    description: "Liste des toutes les API REST",
}
const title = {
    "users": "Récupérer les données d'une API",
    "usersB": "Obtenir quelques utilisateurs de l’API",
    "simpleApi": "API REST Simple",
    "loadingApi": "Approche avec gestion d'erreurs et loading state",
}
---

<Layout {...page}>
    <section class="users_list flex flex-col gap-4">
            <Users title={title.users} />
            <UsersB title={title.usersB} />
            <SimpleApi title={title.simpleApi} />
            <LoadingApi title={title.loadingApi} />
	</section>
</Layout>
