---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import blogs from "../json/blogs_menu.json";

const page = {
    title: "API REST",
    description: "liste des approches API REST",
}
---

<Layout {...page}>
    <section>
        <div class="blogs-container">
            {blogs.map((blog) => (
                <Card {...blog} />
            ))}
        </div>
	</section>
</Layout>
