---
const { icon, name, link } = Astro.props;
---
<a
    href={link}
    target="_blank"
    title={name ? name : ""}
    class="
        text-2xl
        rounded-full 
        flex justify-center items-center
    "
>
    <i class={icon}></i>
</a>

<style>
    a {
        color: var(--social);
        transition: all .2s ease-in-out;
    }
    a:hover {
        color: var(--social-hover);
        transform: scale(1.2);
    }
</style>    
